@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.heart{
    font-size: 22px;
    margin: 5px;
    cursor: pointer;
}
.heart:hover{
    color: #febd69;
}
.cart{
  font-size: 23px;

}
.cart:hover{
    color: #febd69;
}

